In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
    builder. \
    config('spark.ui.port', '0'). \
    config("spark.sql.warehouse.dir", f"/user/itv009538/warehouse"). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

In [2]:
mylist=[
(1,"Kapil",34),
(1,"Kapil",34),
(1,"Satish",26),
(2,"Satish",26),]

In [3]:
df = spark.createDataFrame(mylist).toDF("id", "name", "age")

In [4]:
df.show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  1| Kapil| 34|
|  1|Satish| 26|
|  2|Satish| 26|
+---+------+---+

In [5]:
df1 = df.distinct()

In [6]:
df1.show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  2|Satish| 26|
|  1|Satish| 26|
+---+------+---+

In [7]:
df.dropDuplicates().show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  2|Satish| 26|
|  1|Satish| 26|
+---+------+---+

In [11]:
df.dropDuplicates(["name", "age"]).show()

+---+------+---+
| id|  name|age|
+---+------+---+
|  1| Kapil| 34|
|  1|Satish| 26|
+---+------+---+